<!doctype html>
<html>
<head>
    <title>TPT Squatter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--<meta name="viewport" content="width=600">-->
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  href="/assets/styles/style.css"/>

    <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>

</head>
<body>
<!--<div class="container">-->
    <div class="jumbotron row">
        <img class="col-md-12" id="logoimg" src="/assets/secret_images/logoAndTitle-caps.png" onerror="this.src='/assets/images/logoAndTitle-old-caps.png'" alt="TPT Squatter"></div>


    <div id="rooms">
        <div class="room30 container row">
            <div class="roomInfo col-md-6 col-sm-6 col-xs-6">
                <h2 class="room text availYellow"> CR 4112 </h2>
                <div class="icons row">
                    <div>
                        <img src="/assets/images/computer.svg" class="icon computerStatusIcon col-md-4 col-sm-4 col-xs-4" onerror="/assets/images/computer.png">
                    </div>
                    <div class="icon theCapacityNum col-md-8 col-sm-8 col-xs-8">30</div>
                </div>
            </div>
            <div class="bookers btn col-md-6 col-sm-6 col-xs-6">
                <button class="btn btn-book bookerA"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>1:30</button>
                <!--how to disable: http://stackoverflow.com/questions/17327668/best-way-to-disable-button-in-twitters-bootstrap -->
                <button class="btn btn-disabled bookerB">Not Available</button>
            </div>
        </div>

        <div class="room60 container row">
            <div class="roomInfo col-md-6 col-sm-6 col-xs-6">
                <h2 class="room text availYellow"> CR 4181 </h2>
                <div class="icons row">
                    <div>
                        <img src="/assets/images/nocomputer.svg" class="icon computerStatusIcon col-md-4 col-sm-4 col-xs-4" onerror="/assets/images/nocomputer.png">
                    </div>
                    <div class="icon digits1 theCapacityNum col-md-8 col-sm-8 col-xs-8">4</div>
                </div>
            </div>
            <div class="bookers btn col-md-6 col-sm-6 col-xs-6">
                <button class="btn btn-book bookerA"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>1:30</button>
                <button class="btn btn-book bookerA"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>2:00</button>
            </div>
        </div>
    </div>
<!--</div>-->
</body>
</html>

